.payment-form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payment-form-container {
  width: 80%;
  height: 80vh;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 38px, rgba(0, 0, 0, 0.22) 0px 1px 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.payment-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
  animation: fade-in 2s;
}

.payment-form-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 38px, rgba(0, 0, 0, 0.22) 0px 1px 12px;
  z-index: 100;
  border-radius: 10px;
}

.payment-form-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 38px;
  color: #992e2e;
}

.payment-form-content h5 {
  color: #992e2e;
}

.payment-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.payment-btn {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
