.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
  justify-content: center;
  background-image: url("D:\Art\myapp\src\images\photo_2024-05-02_14-21-42.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.login-container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login-container > form > h5 {
  margin-bottom: 5px;
}
.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login-container p {
  font-size: 12px;
  margin-top: 15px;
}
.login-signInBtn {
  background-color: #a86464;
  border: 1px solid;
  margin-top: 10px;
  /* border-color: #a88734 #9c7e31 #846a29; */
  color: #111;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #e8d5c4;
  height: 30px;
}
.login-registerBtn {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  background-color: #e8d5c4;
  border: none;
  /* border: 1px solid darkgray; */
  margin-top: 10px;
  cursor: pointer;
}
.login .auth {
  margin: 15px auto;
}
